<div class="message">
  <a href="" class="message_profile-pic"></a>
  <a href="" class="message_username"><%= message.user.email %></a> <!-- Chage to user name, add in devise login screen -->
  <span class="message_timestamp">
    <%= message.created_at %>
  </span>
  <span class="message_star"></span>
  <span class="message_content"></span>
    <%= message.content %>
  </span>
</div>